<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Name Filter</mat-label>
    <input matInput formControlName="filter">
  </mat-form-field>
</form>

<table mat-table cdkDropList cdkDropListOrientation="horizontal" [dataSource]="characters$ | async"
  [cdkDropListData]="displayedColumns" (cdkDropListDropped)='drop($event)'>

  <ng-container [matColumnDef]="column" *ngFor='let column of displayedColumns'>
    <th mat-header-cell *matHeaderCellDef cdkDrag (click)='sort(column)' width='w'>
      <div class='header'>
        <span class='title'>{{column}}</span>

        <app-sort-selection *ngIf='(primarySortColumn$ | async) as sort' [selection]='sort' [id]='column' [title]='1'>
        </app-sort-selection>
        <app-sort-selection *ngIf='(secondarySortColumn$ | async) as sort' [selection]='sort' [id]='column' [title]='2'>
        </app-sort-selection>
      </div>

      <!-- <div class='header-items'>
        <div class='title'>No.</div>
        <div class='resizer' cdkDrag cdkDragData="resizer"></div>
      </div> -->
    </th>

    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
